/* FONT STYLES */
$roboto-slab: 'Roboto Slab', serif !default;
$montserrat: 'Montserrat', sans-serif !default;

/* FONT SIZES */
$title-home-mobile: 4.5rem !default;
$title-home-tablet: 5.5rem !default;
$subtitle-home-mobile: 2rem !default;
$subtitle-home-tablet: 3rem !default;
$title-mobile: 3.3rem !default;
$title-desktop: 4rem !default;
$skills-title: 2.5rem !default;
$font-size-tiny: 1.2rem !default;
$font-size-small: 1.4rem !default;
$font-size-default: 1.6rem !default;

/* Burger Menu */
$font-size-menu-mobile: 4rem !default;
$font-size-menu-tablet: 4.5rem !default;
$font-size-menu-desktop: 5rem !default;

/* FONT WEIGHTS */
$thin: 100 !default;
$light: 300 !default;
$regular: 400 !default;
$bold: 700 !default;

/* ------------------------------------------------------------ *\

   color name refenerce: https://codepen.io/meodai/full/mEvZRx

\* ------------------------------------------------------------ */

$white: #fbfbfb !default;
$blue-jeans: rgba(82, 168, 236, 60%) !default; /* valid Textfield shadow */
$black: #191919 !default;
$light-gray: #acacac !default;
$footer: #f2f2f2 !default;
$lighthouse: #f4f4f4 !default;
$link: #0645ad !default;
$pale-violet-red: rgba(219, 112, 147, 80%) !default; /* invalid Textfield shadow */
$shui-cao-lu-green: #3b8070 !default;
$dark-gray: #35495e !default;
$track-and-field: #e21a11 !default;
$transparent: #0000001a !default;
$gray: #595959 !default;
$semi-transparent: #fff9 !default;

/* Burger Menu */
$button-line: #2d2c2b !default;
$color-menu-hover: #c14343 !default;
$path-fill-1: #c04444 !default;
$path-fill-2: #1b1a19 !default;
