---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    max-width: 1500px;
    margin: auto;
  }

  .content {
    color: #2C3E50;
    padding: 2rem;
  }

  .content-section {
    border-left: 4px solid #FF6B35;
    padding-left: 1.5rem;
    margin-bottom: 4rem;

    h3 {
      font-size: 1.25rem;
      margin-top: 0.5rem;
    }

    h3:first-child {
      margin-top: 0;
      line-height: 1;
      margin-bottom: 0.25rem;
    }
  }

  .content-section:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  details {
    margin-top: 0.5rem;

    summary {
      cursor: pointer;
      user-select: none;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.5rem;

      span {
        width: fit-content;
        background-color: #2C3E50;
        border-radius: 0.5rem;
        padding: 0.125rem 0.5rem;
        color: #fff;
        text-align: center;
        font-size: 0.875rem;
      }
    }
  }

  ul {
    padding-inline-start: 2rem;
  }

  /* Large desktops and high-resolution screens (1025px and up) */
  @media (min-width: 1025px) {
    .container {
      /* Desktop: Sidebar + Content */
      grid-template-columns: 1fr 2fr;
      box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.1);
    }

    .content {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
</style>

<Layout>
  <div class="container">
    <Sidebar />
    <div class="content">
        <h2>Zusammenfassung</h2>
        <p style="margin-bottom: 3rem;">Ich bin Full-Stack-Entwickler mit Fokus auf Webentwicklung. Ich arbeite gerne testgetrieben und setze auf saubere und skalierbare Architekturen. Dabei lege ich Wert auf performante Lösungen, einfache und moderne UI/UX sowie wartbaren Code.</p>
        <!-- <p>Aktuell studiere ich berufsbegleitend Informatik (mit Schwerpunkt IT-Sicherheit) an der Friedrich-Alexander-Universität in Erlangen.</p> -->

      <h2>Berufserfahrung</h2>
      <div class="content-section">
        <h3>Full-Stack Software-Entwickler</h3>
        <b>10/2020 - 07/2025</b>
        <p><i>Brainbirds GmbH, München</i></p>
        <ul>
          <li>Full-Stack-Entwicklung mit React, Next.js, Node.js und Remix.js</li>
          <li>API-Entwicklung und -Integration (REST, GraphQL, Drittanbieter-Services)</li>
          <li>Datenbankadministration und Testing-Infrastruktur (PostgreSQL, Cypress, End-to-End-Tests)</li>
          <li>Entwicklung und Pflege der Software-Architektur (AWS, Google Cloud Platform, Heroku)</li>
          <li>CI/CD-Pipelines und DevOps-Prozesse (GitHub Actions, Docker)</li>
        </ul>

        <details>
          <summary>Tech Stack</summary>
          <div>
            <span>TypeScript</span><span>Next.js</span><span>Node.js</span><span>Docker</span><span>TailwindCSS</span><span>Biome</span><span>Jest</span><span>Cypress</span><span>PostgreSQL</span><span>GraphQL</span>
            <span>REST</span><span>Github Actions</span><span>Strapi</span><span>GCP Cloud Run</span><span>GCP App Engine</span><span>GCP Secret Manager</span><span>AWS Cloud Storage</span><span>AWS Route 53</span><span>Google Tag Manager</span><span>Figma</span>
          </div>
        </details>

        <h3>Frontend Software-Entwickler</h3>
        <b>04/2020 - 10/2020</b>
        <p><i>Freiberuflich, München</i></p>
        <ul>
          <li>Frontend-Entwicklung bei der myposter GmbH mit Vue.js, Konva.js, Storybook, SCSS sowie Cypress und Jest</li>
          <li>Umsetzung eines neuen Produkt Kalender Konfigurators, zur schnellen erstellung von Kalendern auf der myposter Website</li>
        </ul>

        <details>
          <summary>Tech Stack</summary>
          <div>
            <span>Vue.js</span><span>Konva.js</span><span>JavaScript</span><span>SCSS</span><span>Jest</span><span>Cypress</span><span>Storybook</span>
            <span>REST</span><span>Github Actions</span><span>DataDog</span><span>Figma</span><span>AWS CloudFront</span>
          </div>
        </details>

        <h3>Junior Software-Entwickler</h3>
        <b>09/2016 - 04/2020</b>
        <p><i>Jochen Schweizer mydays Holding GmbH, München</i></p>
        <ul>
          <li>Entwicklung des Webauftritts in Demandware (JavaScript)</li>
          <li>Migration der Website von Demandware zu React.js auf Basis von Microservices</li>
          <li>Verantwortung für das Partnerportal (Perl, Moose, DBIx, Template Toolkit)</li>
          <li>Fachlicher Ansprechpartner für das Partnerportal in cross-funktionalen Teams</li>
        </ul>

        <details>
          <summary>Tech Stack</summary>
          <div>
            <span>TypeScript</span><span>Node.js</span><span>Perl</span><span>Handlebars</span><span>React.js</span><span>jQuery</span><span>SCSS</span><span>Google Tag Manager</span><span>MySQL</span><span>Sequelize</span><span>Docker</span>
            <span>REST</span><span>Figma</span><span>Jenkins</span><span>Optimizely</span><span>Grafana</span>
          </div>
        </details>
      </div>

      <h2>Ausbildung</h2>
      <div class="content-section">
        <h3>Informatik / IT-Sicherheit (Berufs&shy;begleitend)</h3>
        <b>10/2024 - laufend</b>
        <p><i>Friedrich-Alexander-Universität, Erlangen</i></p>

        <h3>Fachinformatiker für Anwendungsentwicklung</h3>
        <b>09/2016 - 02/2019</b>
        <p><i>Jochen Schweizer Technology Solutions GmbH, München</i></p>
      </div>

      <h2>Zertifikate</h2>
      <div class="content-section">
        <h3>Grundlagen Klassisches Projektmanagement</h3>
        <b>12/2024</b>
        <p><i>Brainbirds GmbH, München</i></p>

        <h3>Agile Methoden Seminar</h3>
        <b>11/2020</b>
        <p><i>Brainbirds GmbH, München</i></p>

      </div>

      <h2>Engagement</h2>
      <div class="content-section">
        <h3>Freiwilliges Soziales Jahr</h3>
        <b>07/2013 - 08/2014</b>
        <p><i>Montessori-Schule, München</i></p>

        <h3>Ehrenamtlicher Jugend&shy;trainer</h3>
        <b>2018 - 2022</b>
        <p><i>TSV Milbertshofen Handball, München</i></p>
      </div>
    </div>
  </div>
</Layout>
