<style>
  * {
    color: #fff;
  }

  .sidebar {
    background-color: #203b63;
  }

  .content {
    padding: 2rem;
  }

  .content:first-child {
    padding-top: 2rem;
  }

  h1 {
    color: #ff953f;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .job-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  strong {
    display: inline-block;
    font-size: 1.5rem;
  }

  hr {
    margin: 0.5rem auto;
  }

  p {
    margin-bottom: 1rem;
  }

  /* Large desktops and high-resolution screens (1025px and up) */
  @media (min-width: 1025px) {
    .sidebar {
      min-height: 100lvh;
    }

    .content {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .content:last-child {
      padding-bottom: 0;
    }

    .strong {
      font-size: 1.75rem;
    }
  }
</style>

<div class="sidebar">
  <div class="content">
    <h1>Leon Ebel</h1>
    <strong class="job-title">Software Developer</strong>
    <div>
      <span>München |</span>
      <a href="mailto:leonc.ebel@proton.me">E-Mail</a>
      <span>|</span>
      <a href="https://github.com/eberureon" target="_blank">Github</a>
      <span>|</span>
      <a href="https://linkedin/in/ebelleon" target="_blank">LinkedIn</a>
      <span>| Verfügbar ab sofort</span>
    </div>
  </div>

  <div class="content">
    <strong>Technische Expertise</strong>
    <hr />
    <p><b>Programmiersprachen & Framekworks:</b> TypeScript, React, Next.js, Node.js, Java</p>
    <p><b>Testing:</b> Test-Driven Development (TDD), Jest, Cypress, Playwright</p>
    <p><b>Datenbanken & APIs:</b> SQL, REST, GraphQL, MongoDB, SQLite</p>
    <p><b>DevOps & Infrastructure:</b> Docker, AWS, GCP, Unix</p>
    <p><b>User Interface:</b> CSS, Tailwind, Lucide, shadcn/ui, radix/ui</p>
    <p><b>Entwicklungs Tools:</b> neovim, VSCode, Git, Github Actions</p>
    <p><b>Projektmanagement & Workflows:</b> Scrum, Agile, Confluence, Jira, Linear, Figma</p>

  </div>

    <div class="content">
      <strong>Weitere Informationen</strong>
      <hr />
      <p><b>Sprachen:</b> Deutsch (Muttersprache), Englisch (verhandlungssicher)</p>
      <p><b>Interessen:</b> Web-Entwicklung, IT-Sicherheit, Handball</p>
    </div>
</div>
