<style>
  * {
    color: #fff;
  }

  .sidebar {
    background-color: blue;
  }

  .content {
    padding: 5rem 2rem;
  }
  
  h1 {
    color: orange;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  strong {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  /* Large desktops and high-resolution screens (1025px and up) */
  @media (min-width: 1025px) {
    .sidebar {
      width: 33.33333%;
      height: 100%;
    }
  }
</style>

<div class="sidebar">
  <div class="content">
    <h1>Leon Ebel</h1>
    <strong>Software-Entwickler</strong>
    <div>
      <span>München |</span>
      <a href="mailto:leon.ebel@tuta.com">E-Mail</a>
      <span>|</span>
      <a href="https://github.com/eberureon" target="_blank">Github</a>
      <span>|</span>
      <a href="https://linkedin/in/ebelleon" target="_blank">LinkedIn</a>
      <span>| Verfügbar ab sofort</span>
    </div>
  </div>

  <div class="content">
    <strong>Technische Expertise</strong>
    <p><b>Programmiersprachen & Framekworks:</b> TypeScript, React.js, Node.js</p>
    <p><b>Testing:</b>Test-Driven Development (TDD), Jest, Cypress, Playwright</p>
    <p><b>Datenbanken & APIs:</b> SQL, GraphQL, MongoDB, SQLite, PostgreSQL</p>
    <p><b>DevOps & Infrastructure:</b> Docker, AWS, Google Cloud Services, Unix, Scrum, Jira, Linear</p>
    <p><b>Entwicklungs Tools:</b> neovim, Git, Firebase, GithubActions</p>
    <p><b>User Interface:</b> CSS, Tailwind, Lucide, shadcn/ui, radix/ui</p>
  </div>

    <div class="content">
      <strong>Weitere Informationen:</strong>
      <p><b>Sprachen:</b> Deutsch (Muttersprache), Englisch (verhandlungssicher)</p>
      <p><b>Interessen:</b> Web-Entwicklung, IT-Sicherheit, Handball</p>
    </div>
</div>
